body{
  font-family: monospace;

}

#container {
  width: 1000px;
  height: 700px;
  /* background-image:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url(https://cdn.wallpapersafari.com/97/66/Pzp6V1.jpg); */
  margin: 40px auto;
}
#calculator {
  width: 320px;
  height: 520px;
  background-color:#eaedef;
  margin: 0 auto;
  top: 80px;
  position: relative;
  border-radius: 5px
 }

#result{
  height:130px

}
#history {
text-align:right;
height:5px;
margin:20px;
padding-top: 20px;
font-size:20px
color:#919191;
}
#output{
  text-align:right;
  height: 10px;
  margin: 10px;
  font-size: 40px;

}

#keyboard {
  height: 440px;
}

.operator, .number, .empty{
  width: 78px;
  height: 76px;
  margin: 1px;
  float: left;
  border-radius: 25%;
  border-width: 0;
  font-weight: bold;
  font-size: 20px;
}
.number, .empty{
  background-color: #eaedef;
}
.number, .operator{
  cursor: pointer;
}
.operator:focus, .number:focus, .empty:focus
{
  outline 0;}
}
